<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Projeto AlgoRitmos</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">  
    <script src="https://d3js.org/d3.v4.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
<div class="algoritmo__form">
    <form class="algoritmo__form" action="/handle_form/" method="POST">
        <div class="algoritmo__form__row">
            <div class="algoritmo__form__col">
                <div class="form-group algoritmo__select">
                  <span class="algoritmo__select-head">Artista:</span>
                        <select class="form-control" name="s_artists" aria-label="Artistas">
                          <option value="elisoares" {% if s_artist == 'elisoares' %} selected {% endif %} >Eli Soares</option>
                          <option value="alinebarros" {% if s_artist == 'alinebarros' %} selected {% endif %}>Aline Barros</option>
                          <option value="calcanhotto" {% if s_artist == 'calcanhotto' %} selected {% endif %}>Adriana Calcanhotto</option>
                          <option value="gilbertogil" {% if s_artist == 'gilbertogil' %} selected {% endif %}>Gilberto Gil</option>
                          <option value="drikbarbosa" {% if s_artist == 'drikbarbosa' %} selected {% endif %}>Drik Barbosa</option>
                          <option value="ricodalasam" {% if s_artist == 'ricodalasam' %} selected {% endif %}>Rico Dalasam</option>
                          <option value="mcdricka" {% if s_artist == 'mcdricka' %} selected {% endif %}>Mc Dricka</option>
                          <option value="mcpozedorodo" {% if s_artist == 'mcpozedorodo' %} selected {% endif %}>Mc Poze do Rodo</option>
                          <option value="baroesdapisadinha" {% if s_artist == 'baroesdapisadinha' %} selected {% endif %}>Barões da Pisadinha</option>
                          <option value="mariliamendonca" {% if s_artist == 'mariliamendonca' %} selected {% endif %}>Marília Mendonça</option>
                          <option value="henriquejuliano" {% if s_artist == 'henriquejuliano' %} selected {% endif %}>Henrique & Juliano</option>
                          <option value="jorgemateus" {% if s_artist == 'jorgemateus' %} selected {% endif %}>Jorge & Mateus</option>
                          <option value="gusttavolima" {% if s_artist == 'gusttavolima' %} selected {% endif %}>Gusttavo Lima</option>
                        </select>
                </div>
            </div>
            <div class="algoritmo__form__btn">
                <div class="form-group algoritmo__btn">
                    <button type="submit" class="btn btn-outline-secondary">Atualizar</button>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
      <div class="col-md-6">
        <p class="chart-title">Top 10 Mais Recomendados - Spotify</p>

            <div id="my_dataviz_spotify"></div>
      </div>
      <div class="col-md-6">
        <p class="chart-title">Top 10 Mais Recomendados - Deezer</p>

            <div id="my_dataviz_deezer"></div>
      </div>
    </div>
</div>

<script>
    var path = "handle_form";
    if (window.location.href.includes(path)){
        url = "../static/csv/";
    } else {
        url = "static/csv/";
    }

    // set the dimensions and margins of the graph
    var margin = {top: 20, right: 30, bottom: 40, left: 120},
        width = 460 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg1 = d3.select("#my_dataviz_spotify")
      .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")

    // Parse the Data
    d3.csv(url + "barplot_spotify_top10.csv", function(data) {
      // Add X axis
      var x = d3.scaleLinear()
        .domain([0, d3.max(data, function(d) { return +d.QTD})])
        .range([ 0, width]);
      svg1.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x).tickFormat(d3.format(".0%")).ticks(5))
        .selectAll("text")
          .attr("transform", "translate(0,0)")
          .style("text-anchor", "start");

      // Y axis
      var y = d3.scaleBand()
        .range([ 0, height ])
        .domain(data.map(function(d) { return d.ARTISTA_REC; }))
        .padding(.5);
      svg1.append("g")
        .call(d3.axisRight(y))
        .selectAll("text")
          .attr("transform", "translate(0,-10)")

      //Bars
      svg1.selectAll("myRect")
        .data(data)
        .enter()
        .append("rect")
        .attr("x", x(0) )
        .attr("y", function(d) { return y(d.ARTISTA_REC); })
        .attr("width", function(d) { return x(d.QTD); })
        .attr("height", y.bandwidth() * .7 )
        .attr("transform", "translate(0,5)")
        .attr("fill", "#1BCCAE")
        .text("10");
    })

</script>

<script>
    var path = "handle_form";
    if (window.location.href.includes(path)){
        url = "../static/csv/";
    } else {
        url = "static/csv/";
    }

    // set the dimensions and margins of the graph
    var margin = {top: 20, right: 30, bottom: 40, left: 120},
        width = 460 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#my_dataviz_deezer")
      .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")

    // Parse the Data
    d3.csv(url + "barplot_deezer_top10.csv", function(data) {
      // Add X axis
      var x = d3.scaleLinear()
        .domain([0, d3.max(data, function(d) { return +d.QTD })])
        .range([ 0, width]);
      svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x).tickFormat(d3.format(".0%")).ticks(5))
        .selectAll("text")
          .attr("transform", "translate(0,0)")
          .style("text-anchor", "start");

      // Y axis
      var y = d3.scaleBand()
        .range([ 0, height ])
        .domain(data.map(function(d) { return d.ARTISTA_REC; }))
        .padding(.5);
      svg.append("g")
        .call(d3.axisRight(y))
        .selectAll("text")
          .attr("transform", "translate(0,-10)")

      //Bars
      svg.selectAll("myRect")
      .data(data)
        .enter()
        .append("rect")
        .attr("x", x(0) )
        .attr("y", function(d) { return y(d.ARTISTA_REC); })
        .attr("width", function(d) { return x(d.QTD); })
        .attr("height", y.bandwidth() * .7 )
        .attr("transform", "translate(0,5)")
        .attr("fill", "#F9389D")
        .text("Top 10");
    })

</script>

</body>
</html>
